<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Master</title>
    <link rel="stylesheet" href="/template/css/home_screen.css">
    
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">Review Master</div>
        <div>
          <nav>
            <ul>
              <li><a href="#filmes">Filmes</a></li>
              <li><a href="#series">Series</a></li>
              <li><a href="#jogos">Jogos</a></li>
              <li><a href="#mais">Mais</a></li>
            </ul>
          </nav>
        </div>

        <div class="primary">
            <nav>
          <ul>
            <li> <a href="#adicionar"><img src="./img/add.png" class="add" alt="adicionar filmes"></a></li>
            <li><a href="#iniciar">Iniciar sessão</a></li>
            <li><a href="#pesquisar"><img src="./img/search.png" class="search" alt="lupa de pesquisar"></a></li>
          </ul>
        </nav>
        </div>
      </div>
    </header>
  </body>
</html>